/***************
GLOBAL STYLES
***************/

.content {
	padding-top: 0;
	position: relative;
	z-index: 1;

	&:after {
		z-index: -1; 
		background: white;
		content: ""; 
		display: block;
		width: 100%;
		height: 10em;
		position: absolute;
		top: -2em;
		left: 0;
		-webkit-transform: skewY(-2deg);
		-ms-transform: skewY(-2deg);
		transform: skewY(-2deg);
		-webkit-transform-origin: bottom left;
		-ms-transform-origin: bottom left;
		transform-origin: bottom left; 
	}
}

.container {
	@include container(900px); 
	padding: 0;
	
	p {
	   text-align: justify;	
	}
}

/***************
HOMEPAGE STYLING
***************/

#home {
	.posts, .pageTitle, .pagination {
		@include span(9 of 12);
		float: none;
		margin: 0 auto 1.5em;
	}

	.pageTitle {
		margin: 2rem auto 1em;
	}
}


/***************
HEADER STYLING
***************/

.header {
	height: 15em;
	position: relative;
	padding-bottom: 2em;

	.container {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		@include container(800px); 
	}

	h1 {
		font-size: 3em;
		line-height: 1;
		letter-spacing: -3px;
		padding-left: 0;
		text-shadow: 11px 6px 5px #0e1416;
		text-transform: none;
	}

	nav {
		float: left;
		clear: left;

		ul {
			margin: 0;

			li {
				display: inline;
				line-height: 3em;
				background: none;
				padding: 0 5px;
				border: none;

				a {
					color: white;
					font-size: .9em;
					text-decoration: none;
					padding: 0 .25em;
					font-size: 1.2em;
					text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black;
					font-weight: bold;

					&:hover {
						color: darken(white, 20%);
					}
				}

				&.current {
					padding-bottom: .25em;
					border-bottom: 4px solid rgba(247, 247, 247, 1); 
				}
			}
		}
	}
}


/***************
MENU STYLING
***************/

.js {

	.nav-collapse {
	  position: relative;
	  max-height: none;

		&.closed {
		  max-height: none; 
		}

		ul li a {
			display: inline-block;
		}
	}
}

.nav-toggle {
  display: none;
}


/***************
POST STYLING
***************/

.post {
	h1, h2, h3, h4, h5, h6, p, ul, ol, dl, .pageTitle {
		@include span(9 of 12); 
		float: none;
		margin: 0 auto 2rem; 
	}

	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		margin: 1rem auto; 
	}

	.pageTitle {
		margin: 2rem auto 1em;
	}

	.featuredImage {
		position: relative;
		margin-top: 2rem;

		&:before {
			background: white;
			content: "";
			display: block;
			width: 100%;
			height: 4em;
			position: absolute;
			top: -2em;
			left: 0;
			-webkit-transform: skewY(-2deg);
			-ms-transform: skewY(-2deg);
			transform: skewY(-2deg);
			-webkit-transform-origin: bottom left;
			-ms-transform-origin: bottom left;
			transform-origin: bottom left;
		}
	}

	p {
		text-align: justify !important;
	}

	ul {
		text-align: justify !important;
	}
}

/***************
POST NAV STYLING
***************/

.postNav {

	.prev, .next {
		width: 50%;
	}

	.prev {
		float: left;
		text-align: left;
	}

	.next {
		text-align: right;
		float: right;
	}
}


/***************
FOOTER STYLES
***************/

.footer {
	&-links {
		float: right;
	}

	.copy {
		float: left;
	}

	.container {
		padding: 1rem 0;
		@include container(800px);
	}
}


/***************
CONTACT PAGE STYLING
***************/

.contactContent {
	@include span(6 of 12);
	text-align: justify;
}

#contact {
	form {
		@include span(6 of 12 last);
	}
}

.post-footer {
  margin: em(30px) 0 0;
  padding: em(40px) 0 0;

  h4 {
    @include font-size(18px);
    font-weight: 300;
    margin: 0;
  }

  p {
    margin: em(10px) 0;
    @include font-size(14px);
  }

  .author {
    margin-right: 180px;
  }

  h4 a {
    color: #2e2e2e;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .share {    
    top: em(60px);
    right: 0;
    text-align: right;

    a {
      font-size: 1.6em;
      display: inline-block;
      text-decoration: none;
      border: none;

      i {
      	font-size: 40px !important;
      }
    }
  }

  @include media(max-width $screen-phone) {
    .author,
    .share {
      float: none;
      width: 100%;
      position: relative;
      margin: 0;
      text-align: center;
      clear: both;
    }

    .share {
      top: auto;
      margin-top: em(40px);
    }
  }
}
