<head>    
    {% include meta.html %}
    {% seo %}

    <title>{{ page.title }}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}" />

    <!-- Come and get me RSS readers -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
    <!--[if IE 8]><link rel="stylesheet" href="{{ "/assets/css/ie.css" | prepend: site.baseurl }}"><![endif]-->

    <script type="text/javascript">
      var disqus_shortname = '{{ site.disqus_shortname }}',
          baseurl = '{{ site.baseurl }}';
    </script>

    <script data-name="BMC-Widget" 
        src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" 
        data-id="SAXJcgo" 
        data-description="Support me on Buy me a coffee!" 
        data-message="If you find this blog helpful, please buy me a coffee!" 
        data-color="#FF813F" data-position="right" data-x_margin="18" data-y_margin="18">
    </script>

    {% if site.google_analytics %} {% include google_analytics.html %} {% endif %}
</head>
